<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.onlinejudge.content.mapper.ProblemMapper">

    <resultMap id="BaseResultMap" type="cn.edu.nciae.onlinejudge.content.domain.Problem">
            <id property="problemId" column="problem_id" jdbcType="BIGINT"/>
            <result property="addUserId" column="add_user_id" jdbcType="BIGINT"/>
            <result property="problemTitle" column="problem_title" jdbcType="VARCHAR"/>
            <result property="problemDescription" column="problem_description" jdbcType="VARCHAR"/>
            <result property="problemInputFormation" column="problem_input_formation" jdbcType="VARCHAR"/>
            <result property="problemOutputFormation" column="problem_output_formation" jdbcType="VARCHAR"/>
            <result property="problemTimeLimit" column="problem_time_limit" jdbcType="INTEGER"/>
            <result property="problemMemoryLimit" column="problem_memory_limit" jdbcType="INTEGER"/>
            <result property="problemSubmitNumber" column="problem_submit_number" jdbcType="INTEGER"/>
            <result property="problemSolvedNumber" column="problem_solved_number" jdbcType="INTEGER"/>
            <result property="problemAuthor" column="problem_author" jdbcType="VARCHAR"/>
            <result property="problemSpecialJudge" column="problem_special_judge" jdbcType="BOOLEAN"/>
            <result property="problemReminder" column="problem_reminder" jdbcType="VARCHAR"/>
            <result property="problemSource" column="problem_source" jdbcType="VARCHAR"/>
            <result property="problemDifficulty" column="problem_difficulty" jdbcType="VARCHAR"/>
            <result property="problemStatus" column="problem_status" jdbcType="INTEGER"/>
            <result property="problemTestcaseId" column="problem_testcase_id" jdbcType="VARCHAR"/>
            <result property="isSpj" column="is_spj" jdbcType="BOOLEAN"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <!-- 关联样例输入输出查询映射结果 -->
    <resultMap id="ProblemViewResultMap" type="cn.edu.nciae.onlinejudge.content.vo.ProblemDTO">
        <id property="problemId" column="problem_id" jdbcType="BIGINT"/>
        <result property="addUserId" column="add_user_id" jdbcType="BIGINT"/>
        <result property="problemTitle" column="problem_title" jdbcType="VARCHAR"/>
        <result property="problemDescription" column="problem_description" jdbcType="VARCHAR"/>
        <result property="problemInputFormation" column="problem_input_formation" jdbcType="VARCHAR"/>
        <result property="problemOutputFormation" column="problem_output_formation" jdbcType="VARCHAR"/>
        <result property="problemTimeLimit" column="problem_time_limit" jdbcType="INTEGER"/>
        <result property="problemMemoryLimit" column="problem_memory_limit" jdbcType="INTEGER"/>
        <result property="problemSubmitNumber" column="problem_submit_number" jdbcType="INTEGER"/>
        <result property="problemSolvedNumber" column="problem_solved_number" jdbcType="INTEGER"/>
        <result property="problemAuthor" column="problem_author" jdbcType="VARCHAR"/>
        <result property="problemSpecialJudge" column="problem_special_judge" jdbcType="BOOLEAN"/>
        <result property="problemReminder" column="problem_reminder" jdbcType="VARCHAR"/>
        <result property="problemSource" column="problem_source" jdbcType="VARCHAR"/>
        <result property="problemDifficulty" column="problem_difficulty" jdbcType="VARCHAR"/>
        <result property="problemStatus" column="problem_status" jdbcType="INTEGER"/>
        <result property="problemTestcaseId" column="problem_testcase_id" jdbcType="VARCHAR" />
        <result property="isSpj" column="is_spj" jdbcType="BOOLEAN"/>
        <result property="isDeleted" column="is_deleted" jdbcType="BOOLEAN"/>
        <collection column="problem_id" property="samples" ofType="cn.edu.nciae.onlinejudge.content.domain.Sample" select="selectSampleListByProblemId"/>
        <collection column="problem_id" property="tags" ofType="cn.edu.nciae.onlinejudge.content.domain.Tag" select="selectTagListByProblemId"/>
    </resultMap>

    <!-- Sample输入输出查询映射结果 -->
    <resultMap id="SampleResultMap" type="cn.edu.nciae.onlinejudge.content.domain.Sample">
        <id property="sampleId" column="sample_id" jdbcType="BIGINT"/>
        <result property="problemId" column="problem_id" jdbcType="BIGINT"/>
        <result property="sampleInput" column="sample_input" jdbcType="VARCHAR"/>
        <result property="sampleOutput" column="sample_output" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <!-- Tag查询映射结果 -->
    <resultMap id="TagResultMap" type="cn.edu.nciae.onlinejudge.content.domain.Tag">
        <id property="tagId" column="tag_id" jdbcType="BIGINT"/>
        <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
        <result property="tagDescription" column="tag_description" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        problem_id,add_user_id,problem_title,
        problem_description,problem_input_formation,problem_output_formation,
        problem_time_limit,problem_memory_limit,problem_submit_number,
        problem_solved_number,problem_author,problem_special_judge,
        problem_reminder,problem_source,problem_difficulty,
        problem_status,problem_testcase_id,is_spj,
        is_deleted
    </sql>

    <!-- 获取题目分页列表-->
    <select id="selectProblemVOListPage" resultMap="ProblemViewResultMap">
        select p.* from problem as p
        <if test="problemParam.tag != null">
            LEFT JOIN problem_tag AS pt
            ON p.problem_id = pt.problem_id
            LEFT JOIN tag AS t
            ON pt.tag_id = t.tag_id
        </if>
        <where>
            <if test="problemParam.difficulty != null">
                and p.problem_difficulty like #{problemParam.difficulty}
            </if>
            <if test="problemParam.keyword != null">
                and (
                p.problem_title like CONCAT('%',#{problemParam.keyword},'%') or
                p.problem_description like CONCAT('%',#{problemParam.keyword},'%')
                )
            </if>
            <if test="problemParam.tag != null">
                and t.tag_name like #{problemParam.tag}
            </if>
        </where>
    </select>

    <!-- 获取题目-->
    <select id="selectProblemVOByPid" parameterType="Long" resultMap="ProblemViewResultMap">
        select * from problem where problem.problem_id = #{problemId}
    </select>

    <!-- 问题样例一对多关系子查询方法-->
    <select id="selectSampleListByProblemId" resultMap="SampleResultMap">
        select * from sample where sample.problem_id = #{problemId}
    </select>

    <!-- 问题标签一对多关系子查询方法-->
    <select id="selectTagListByProblemId" resultMap="TagResultMap">
        select * from problem_tag as pt, tag as t
        where pt.problem_id = #{problemId}
                and pt.tag_id = t.tag_id
    </select>

    <!--    根据题目id获取语言id-->
    <select id="selectLanguageIdListByProblemId" resultType="java.lang.Integer">
        SELECT pl.language_id
        FROM problem AS p
        LEFT JOIN problem_language AS pl
        ON p.problem_id = pl.problem_id
        WHERE p.problem_id = #{problemId}
    </select>
</mapper>
